.contactItem {
  width: 500px;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(12, 105, 83);
  border-radius: 20px;
  padding: 20px;
}
.icon {
  color: rgb(12, 105, 83);
  align-items: start;
  margin: 0 auto;
  padding-right: 15px;
  font-size: 24px;
}

.contactContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.contactName {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
}
.contactNumber {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.buttonDelete {
  width: 120px;
  height: 60px;
  padding: 10px;
  color: #333;
  border: 1px solid rgb(12, 105, 83);
  border-radius: 15px;
  margin-top: 40px;
}
.buttonDelete:hover {
  color: firebrick;
  box-shadow: 0 0 10px 2px rgba(8, 119, 113, 0.7);
}
@media (max-width: 767px) {
  .contactItem {
    width: 88%;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .contactContainer {
    width: 260px;
  }

  .contactName,
  .contactNumber {
    font-size: 14px;
  }

  .buttonDelete {
    width: 120px;
    height: 50px;
    margin-top: 0;
    margin-left: 69px;
  }
}
